@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  position: absolute;
  width: 20px; /* Adjust to control the dot size */
  height: 20px; /* Adjust to control the dot size */
  background-color: black;
  opacity: 1;
  border-radius: 50%;
  display: none;
}

@font-face {
  font-family: "Kalpana";
  src: url(./assets/fonts/Kalpana\ UNICODE.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.pathway {
  stroke: black;
  stroke-width: 1px;
  /* fill: black; */
  display: none;
}

.svg-path-container {
  width: 100vw; /* Full viewport width */
  height: 100%; /* Full viewport height */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the SVG */
  top: 0;
  left: 0;
  /* border-color: red;
    border-width: 10px; */
}

.wing-path {
  fill: hsl(312, 100%, 79%, 0.81);
}

@keyframes left {
  to {
    transform: rotateY(60deg);
  }
}
@keyframes right {
  to {
    transform: rotateY(60deg);
  }
}

.bf {
  width: 34px;
  height: auto;
  display: flex;
  position: absolute;
  top: -17px;
  left: 17px;
}
.bf[class^="wing-"] {
  width: 50%;
}
.bf[class^="wing-"] svg {
  width: 100%;
  height: auto;
}
.bf .wing-left {
  animation: left 0.5s linear infinite alternate;
  transform-origin: right;
  z-index: 20;
  /* transform: rotate(-90deg); */
}
.bf .wing-right {
  animation: right 0.5s linear infinite alternate;
  transform-origin: left;
}
.bf .wing-right svg {
  transform: scaleX(-1);
  /* transform: rotate(-90deg); */
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.debug {
  border: 1px solid red;
  position: fixed;
  font-size: 15px;
  top: 0;
  left: 0;
}

#loading-container {
  display: relative;
}

.loading {
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: progress;

  border-radius: 50%;
  border-top: 5px solid gold;
  border-bottom: 5px solid transparent;
  border-left: 5px solid gold;
  border-right: 5px solid transparent;

  animation: loading 1s linear infinite;
}
